.vscode
document
mock
node_modules
public
build
#webpack
www

*.json
*.xml
*.pem
*.cert
*.key
yarn.lock

src/assets/*
src/locales/*
src/react-app-env.d.ts
src/**/*.scss
src/**/*.css

bin/node_modules/*
bin/cert/*
bin/locale/*
bin/yarn.lock
