$primary-color: #0099a8;
$secondary-color: #415364;

$primary-text-color: #27313c;
$secondary-text-color: #415364;

$border-color: #efeff0;

$light-background: #fff;
$dark-background: #171d24;

$require-color: #da3929;

$light-text-color: #fff;

$default-font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
